@font-face{
    font-family: "allura";
    src: url("../fonts/Allura-Regular.ttf");
}
@font-face{
    font-family: "poppinsbold";
    src: url("../fonts/Poppins-Bold.ttf")
}

@font-face{
    font-family: "roboto";
    src: url("../fonts/Roboto-Light.ttf")
}

@font-face{
    font-family: "satisfy";
    src: url("../fonts/Satisfy-Regular.ttf")
}

@font-face{
    font-family: "marker";
    src: url("../fonts/PermanentMarker-Regular.ttf")
}